body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111214;
  color: #f5f5f5;
}

.header {
  background: #1f2937;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-left: 16px;
  font-weight: bold;
}

main {
  padding: 24px;
}

.pagina {
  max-width: 900px;
  margin: auto;
}

/* BOTÓN */
.btn {
  padding: 10px 14px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.btn:hover {
  background: #1e40af;
}

.volver {
  margin-bottom: 20px;
}

/* CARDS */
.card, .card-centro {
  background: #0b1116;
  padding: 20px;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 6px 18px rgba(0,0,0,0.6);
}

/* INPUT */
.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #111c24;
  color: white;
  font-size: 1rem;
}

/* MENSAJES */
.correcto {
  color: #8bff8b;
  font-weight: bold;
  margin-top: 12px;
}

.incorrecto {
  color: #ff8b8b;
  font-weight: bold;
  margin-top: 12px;
}

/* CATEGORÍAS */
.lista-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 16px;
}

.cat-card {
  padding: 18px;
  background: #07121a;
  border-radius: 10px;
  text-align: center;
  color: #e6eef8;
  font-weight: bold;
  transition: 0.2s;
}

.cat-card:hover {
  background: #0a1d2b;
  transform: translateY(-5px);
}

/* Pregunta */
.pregunta {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 10px;
}
